pip3 install pyside2
pip3 install pyqt5
pip3 install qdarkstyle
pip3 install python-magic-bin==0.4.14


For windows, Prerequisites (Can be installed from WinToInstall folder:
	Install Apktool
	Install apksigner
	Install zipalign

PySide2~=5.15.2.1
PyQt5~=5.15.6
QDarkStyle~=3.0.3
